# COPY THIS FILE to .env and set the values appropriately

OPENAI_API_KEY=<whatever your key is>

TANA_API_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmaWxlSWQiOiJoQUYtRnVJdk5RIiwiY3JlYXRlZCI6MTY5Mzk0Mzk5NzcyNSwidG9rZW5JZCI6IlJiQkxFRGMxOGhxTSJ9.2HWvqO6PKmBjbKaJjQ_BHxmPHOS5QwoU2RNK8jF-qjg"